@import url(fonts.css);

.big-container {
    background-color: #131385;
    max-width: 1440px;
    padding: 120px 270px 120px 100px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    font: 20px Roboto, sans-serif;
    line-height: 25px;
    color: white;
}

.footer {
    font: 10px Roboto, sans-serif;
    color: white;
    margin-top: 50px;
}

._font-weight-bold {
    font-weight: bold;
}
