.bigcontainer {
    background-color: #131385;
    max-width: 1440px;
    max-height: 630px;
    padding: 120px 270px 120px 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    font: 20px Roboto, sans-serif;
    line-height: 25px;
    color: white;
}

.footer {
    font: 10px Roboto, sans-serif;
    color: white;
    margin-top: 50px;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_lat500.woff2') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_lat400.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
}