.bigcontainer {
    max-width: 1100;
    padding: 120px 140px 120px 180px;
}

.heading {
    font: bold 50px Roboto;
    text-align: center;
    margin: auto;
}

#rectangle {
    margin: auto;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: 25px Roboto;
    margin-top: 100px;
}

.Support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.Communicate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.Book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.Real {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
