.big-container {
    width: 1440px;
    height: 900px;
    background-image: url("images/booking_images/kastelmeccano.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.big-upper {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 100px 0;
    align-items: center;
}

.upper {
    display: flex;
    justify-content: space-between;
    width: 345px;
    align-items: center;
}

.words {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 200px;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 95px;
    align-items: center;
}

.image {
    width: 205px;
    height: 40px;
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;
}

.stays {
    width: 60px;
    height: 30px;
    color: #ffffff;
    font: 24px Roboto, sans-serif;
    font-weight: 400;
    line-height: 28px;
    align-items: center;
}

.attractions {
    width: 120px;
    height: 30px;
    color: #ffffff;
    font: 24px Roboto, sans-serif;
    font-weight: 400;
    line-height: 28px;
    align-items: center;
}

.icon_night {
    width: 30px;
    height: 30px;
    align-items: center;
}

.icon_account {
    width: 40px;
    height: 40px;
    align-items: center;
}

.rectangle {
    margin-top: -104px;
    margin-left: 1000px;
    width: 50px;
    height: 4px;
    background: #F5BD41;
}

.discover {
    width: 540px;
    height: 120px;
    margin-top: 200px;
    margin-left: 100px;
    color: #ffffff;
    font: 50px Roboto, sans-serif;
    font-weight: 500;
    line-height: 60px;

}
.destination_check {
    margin-top: 100px;
}
.destination {
    width: 245px;
    height: 20px;
    margin-left: 130px;
    color: #ffffff;
    font: 18px Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
}

.check {
    width: 175px;
    height: 20px;
    margin-right: 670px;
    margin-left: 220px;
    color: #ffffff;
    font: 18px Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
}
.booking_rectangle {
    position: relative;
}
.city {
    font: 18px Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-top: 50px;
    margin-left: 130px;
    position: absolute;
    z-index: 2;
}
.adults {
    font: 18px Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-top: 50px;
    margin-left: 855px;
    position: absolute;
    z-index: 2;
}
.dates {
    font: 18px Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-top: 50px;
    margin-left: 595px;
    position: absolute;
    z-index: 3;
}
.destination_rectangle {
    width: 1220px;
    height: 65px;
    border: 3px solid #F3F3F4;
    background-color: #F3F3F4;
    border-radius: 8px;
    margin-top: 24px;
    margin-left: 105px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.date_rectangle {
    width: 260px;
    height: 71px;
    border: 3px solid #F5BD41;
    background-color: #F3F3F4;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 24px;
    margin-right: 610px;
    margin-left: 570px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.button {
    width: 190px;
    height: 71px;
    color: #F3F3F4;
    background-color: #3077C6;
    border-radius: 8px;
    font: 24px Roboto, sans-serif;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
    margin-right: 105px;
    margin-left: 1145px;
    position: absolute;
    z-index: 2;
}

.google_play {
    width: 135px;
    height: 40px;
    margin-top: 210px;
    margin-left: 585px;
    margin-bottom: 120px;
}

.app_store {
    width: 120px;
    height: 40px;
    margin-top: 210px;
    margin-right: 585px;
    margin-bottom: 120px;
}
