@import url(fonts.css);

:root {
    --primary: #3077C6;
    --primary-dark: #10367C;
    --secondary-yellow: #F5BD41;
    --secondary-dark-mode1: #121212;
    --secondary-dark-mode2: #1D1E1F;
    --secondary-dark-mode3: #4D4D4D;
    --primary-stroke: #F3F3F4;
    --primary-text: #383838;
    --primary-white: #FFFFFF;
    --secondary-text: #BFBFBF;
    --primary-bg: #EAF0F9;
}

.big-container {
    max-width: 1100px;
    padding: 120px 140px 120px 180px;
}

.heading {
    font: bold 50px Roboto;
    text-align: center;
    margin: auto;
}

.rectangle {
    margin: 30px auto;
    width: 100px;
    height: 4px;
    background-color: var(--secondary-yellow);
}


.container {
    display: flex;
    justify-content: space-between;
    font: 25px Roboto;
    margin-top: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/*.icon {*/
/*    fill: #3077C6;*/
/*    position: absolute;*/
/*    left: 80px;*/
/*    top: -100px;*/

/*}*/

/*[class*="col-"] {*/
/*    float: left;*/
/*}*/

/*!*For mobile phones*!*/
/*[class*="col-"] {*/
/*    width: 100%;*/
/*}*/

/*@media only screen and (min-width: 600px) {*/
/*    !*For tablets*!*/
/*    .col-s-1 {width: 8.33%;}*/
/*    .col-s-2 {width: 16.66%;}*/
/*    .col-s-3 {width: 25%;}*/
/*    .col-s-4 {width: 33.33%;}*/
/*    .col-s-5 {width: 41.66%;}*/
/*    .col-s-6 {width: 50%;}*/
/*    .col-s-7 {width: 58.33%;}*/
/*    .col-s-8 {width: 66.66%;}*/
/*    .col-s-9 {width: 75%;}*/
/*    .col-s-10 {width: 83.33%;}*/
/*    .col-s-11 {width: 91.66%;}*/
/*    .col-s-12 {width: 100%;}*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*    .container {*/
/*        flex-direction: column;*/
/*    }*/
/*    !*!*For desktop*!*!*/
/*    !*.col-1 {width: 8.33%;}*!*/
/*    !*.col-2 {width: 16.66%;}*!*/
/*    !*.col-3 {width: 25%;}*!*/
/*    !*.col-4 {width: 33.33%;}*!*/
/*    !*.col-5 {width: 41.66%;}*!*/
/*    !*.col-6 {width: 50%;}*!*/
/*    !*.col-7 {width: 58.33%;}*!*/
/*    !*.col-8 {width: 66.66%;}*!*/
/*    !*.col-9 {width: 75%;}*!*/
/*    !*.col-10 {width: 83.33%;}*!*/
/*    !*.col-11 {width: 91.66%;}*!*/
/*    !*.col-12 {width: 100%;}*!*/
/*}*/

