@import url(fonts.css);
body {
    background-color: #FFFFFF;
}

.big-container {
    max-width: 1100px;
    padding: 120px 140px 120px 180px;
}

.heading {
    font: bold 50px Roboto;
    text-align: center;
    margin: auto;
}

.rectangle {
    margin: auto;
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
}


.container {
    display: flex;
    justify-content: space-around;
    font: 25px Roboto;
    margin-top: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


