@import url(fonts.css);

:root {
    --primary: #3077C6;
    --primary-dark: #10367C;
    --secondary-yellow: #F5BD41;
    --secondary-dark-mode1: #121212;
    --secondary-dark-mode2: #1D1E1F;
    --secondary-dark-mode3: #4D4D4D;
    --primary-stroke: #F3F3F4;
    --primary-text: #383838;
    --primary-white: #FFFFFF;
    --secondary-text: #BFBFBF;
    --primary-bg: #EAF0F9;
}

.heading {
    font: bold 40px Roboto, sans-serif;
    text-align: center;
    margin-top: 120px;

}

.heading:hover:after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #F5BD41;
    margin: auto;
}


.container {
    max-width: 1100px;
    padding: 120px 140px 120px 180px;
    font: 25px Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon {
    fill: var(--primary);
    align-self: auto;
    text-align: center;
}




/*For mobile phones*/
/*[class*="col-"] {*/
/*    width: 100%;*/
/*}*/
@media only screen and (min-width: 1024px) {
    /*For desktops*/
    --one-col-width: 8.33%;
    .col-lg-1 {width: var(--one-col-width);}
    .col-lg-2 {width: calc(var(--one-col-width) * 2);}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: calc(var(--one-col-width) * 4);}
    .col-lg-5 {width: calc(var(--one-col-width) * 5);}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: calc(var(--one-col-width) * 7);}
    .col-lg-8 {width: calc(var(--one-col-width) * 8);}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: calc(var(--one-col-width) * 10);}
    .col-lg-11 {width: calc(var(--one-col-width) * 11);}
    .col-lg-12 {width: 100%;}
}
@media only screen and (max-width: 1024px) {
    /*For tablets*/
    --one-col-width: 8.33%;
    .col-md-1 {width: var(--one-col-width);}
    .col-md-2 {width: calc(var(--one-col-width) * 2);}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: calc(var(--one-col-width) * 4);}
    .col-md-5 {width: calc(var(--one-col-width) * 5);}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: calc(var(--one-col-width) * 7);}
    .col-md-8 {width: calc(var(--one-col-width) * 8);}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: calc(var(--one-col-width) * 10);}
    .col-md-11 {width: calc(var(--one-col-width) * 11);}
    .col-md-12 {width: 100%;}
}
@media only screen and (max-width: 480px) {
    /*For mobile phones*/
    --one-col-width: 8.33%;
    .col-sm-1 {width: var(--one-col-width);}
    .col-sm-2 {width: calc(var(--one-col-width) * 2);}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: calc(var(--one-col-width) * 4);}
    .col-sm-5 {width: calc(var(--one-col-width) * 5);}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: calc(var(--one-col-width) * 7);}
    .col-sm-8 {width: calc(var(--one-col-width) * 8);}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: calc(var(--one-col-width) * 10);}
    .col-sm-11 {width: calc(var(--one-col-width) * 11);}
    .col-sm-12 {width: 100%;}
}

/*@media only screen and (max-width: 1232px) {*/
/*    .container {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-items: center;*/
/*        padding: unset;*/
/*        margin: auto;*/
/*        font: 15px Roboto, sans-serif;*/
/*    }*/

/*    .heading {*/
/*        font: bold 28px Roboto, sans-serif;*/
/*    }*/

/*    .box {*/
/*        margin-top: 25px;*/
/*    }*/

/*    .icon svg {*/
/*        max-width: 70%;*/
/*    }*/

@media only screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: unset;
        margin: auto;
        font: 20px Roboto, sans-serif;
    }

    .heading {
        font: bold 28px Roboto, sans-serif;
    }

    .box {
        margin-top: 25px;
    }

    /*    .icon svg {*/
    /*        max-width: 50%;*/
    /*    }*/
    /*}*/
}
    @media only screen and (max-width: 480px) {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: unset;
            margin: auto;
            font: 15px Roboto, sans-serif;
        }

        .heading {
            font: bold 28px Roboto, sans-serif;
        }

        .box {
            margin-top: 25px;
        }

        /*.icon svg {*/
        /*    max-width: 70%;*/
        /*}*/
        .iconSupport {
            width: 53px;
            height: 64px;
        }
        .iconCommunicate {
            width: 58px;
            height: 58px;
        }
        .iconBook {
            width: 70px;
            height: 47px;
        }
        .iconReal {
            width: 64px;
            height: 58px;
        }
    }
